<style>
  * {
    background-color: black;
  }
table {
  border: 2px solid greenyellow;
  color: aquamarine;
  margin: auto;
}
a {
  color: aliceblue;
}

*:hover {
  transform: translateX(4px);
}
</style>

  <table>
    <tr>
      <td>Name</td>
      <td>: Jay Kumar</td>
    </tr>
    <tr>
      <td>Reg. No</td>
      <td>: 201800611</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>: jay_201800611@smit.smu.edu.in</td>
    </tr>
    <tr>
      <td>Short Bio</td>
      <td><p>: I am a student of Computer Science Engineering, <br>currently studying at Sikkim Manipal Institute of Engineering.</p>
      </td>
    </tr>
    <tr>
      <td>Github ID</td>
      <td>: <a href="https://github.com/jaykumarM5">https://github.com/jaykumarM5</a> </td>
    </tr>
  </table>
